.section-content {
  padding: 15px;
}

.section-content h3 {
  color: #333;
  border-bottom: 3px solid #4477AA;
  padding-bottom: 10px;
  margin-top: 0; 
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: bold;
}